/* Reset float para asegurar que no afecte a otros elementos */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Estilos para la barra lateral */
.sidebar {
  float: right;
  background-color: #5C9BD331;
  width: 30%;
  border-radius: 10px;
  padding: 4em;
  margin: 2em;
}
/* el body ocupa todo el ancho de la pantalla */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  background-color: #fff;
}
/* Estilos para el contenido */
.content {
  float: left;
  background-color: #5C9BD331;
  width: 70%;
  border-radius: 10px;
  padding: 4em;
  margin: 2em;

}

/* Estilos para el contenedor principal */
.main-content {
  display: flex; /* Utiliza flex en lugar de inline-flex */
  margin: 10px;
  padding: 10px;
}

/* Estilos para el logo */
.logo img {
  width: 3em;
  height: 3em;
}

/* Estilos para la navegación */
.navigation {
  float: right;
  border-radius: 20px;
  margin: 1em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

/* Estilos para los enlaces de navegación */
.navigation a {
  padding: 10px;
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #0275d880;
  border-radius: 10%;
}


/* Estilos para el encabezado */
.header {
  display: inline-table;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-radius: 10px;
  /* le damos un degradado a blanco hacia abajo */
  background-image: linear-gradient(to bottom, #5C9BD3, #fff);
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #9455a280;
  /* degradamos a azul hacia abajo */
  background-image: linear-gradient(to bottom, #9455a280, #9455a2);
  padding: 10px;
}

/* Estilos para la marca del sitio */
.site-branding-xtractr {
  width: 30%;
  float: right;
  justify-content: center;
  align-items: center;
  /* se muestra en el borde de la derecha */
  height: 8em; /* Ajuste para que no se extienda más allá del contenido */
   /* Eliminado el exceso de margen superior e inferior */
}
/* Estilos para la imagen de la marca del sitio */
.site-branding-xtractr img {
  /* el logo debe ir pegado a la derecha */
  height: 8em;
  transition: all 2s ease;

  float: right;
  border-radius: 10px;
  margin-bottom: 10em;
  }
  .site-branding-xtractr img:hover {
    /* el logo debe ir pegado a la derecha */

    height: 8em;
  /*hacemos que el logo se agrande al pasar el mouse por encima */
    transform: scale(1.1);

    transition: all 2s ease;
    float: right;
    border-radius: 10px;
    margin-bottom: 10em;
    }
.primary-menu {
  width: 30%;
  /*centramos el contenido a lo alto y lo colocamos a la derecha */
  display: inline-flex;
  align-items: center;
  float: left;
  width: 70%;
  height: 6em;
}
/* la lista <li> que hay dentro de primary-menu se muestran los unos al lado de los otros */
.primary-menu li {

  /* le damos estilo de boton con el color morado que estamos usando */

  display: inline-flex;



  align-items: center;
  /* le damos un margen */
  margin: 0 10px;
}
.primary-menu li a:hover{
  border-radius: 10px;
  background-color: #9455a2;
  padding: 10px;
  margin: 10px;
  list-style: none;
  /* quitamos la decoracion le damos bold y mayusculas */
  /* el texto es color blanco */
  color: #fff!important;
  text-decoration: none!important;
  font-weight: bold;
  transition: all 2s ease;

}
.primary-menu li a{
  border-radius: 10px;
  background-color: #9455a24d;
  padding: 10px;
  margin: 10px;
  scale: 1.2;
  list-style: none;
  transform: scale(1.1);
  /* animamos los cambios de color y de tamaño */
  transition: all 2s ease;

  /* quitamos la decoracion le damos bold y mayusculas */
  /* el texto es color blanco */
  color: #fff!important;
  text-decoration: none!important;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .header {
    display: inline-table;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    border-radius: 10px;
    /* le damos un degradado a blanco hacia abajo */
    background-image: linear-gradient(to bottom, #9455a2, #fff);
  }
  /* los botones del menu se hacen mas pequeños y se ponen uno debajo del otro */
  .primary-menu li {

    /* le damos estilo de boton con el color morado que estamos usando */
  
    display: inline-table;
  
  
  
    align-items: center;
    /* le damos un margen */
    margin: 0 10px;
  }
  .primary-menu li a:hover{
    border-radius: 10px;
    background-color: #9455a2;
    padding: 10px;
    margin: 10px;
    list-style: none;
    /* quitamos la decoracion le damos bold y mayusculas */
    /* el texto es color blanco */
    color: #fff!important;
    text-decoration: none!important;
    font-weight: bold;
    transition: all 2s ease;
  
  }
  .primary-menu li a{
    border-radius: 10px;
    background-color: #9455a24d;
    padding: 10px;
    margin: 10px;
    scale: 1.2;
    list-style: none;
    transform: scale(1.1);
    /* animamos los cambios de color y de tamaño */
    transition: all 2s ease;
  
    /* quitamos la decoracion le damos bold y mayusculas */
    /* el texto es color blanco */
    color: #fff!important;
    text-decoration: none!important;
    font-weight: bold;
  }
  .logo img {
      width: 5em;
      height: 5em;
  }
  .navigation {
      
  }
  .navigation a {
      
  }
  .main-content {

      flex-direction: column;
      margin: 0px;
      padding: 0px;
      width: 100%;
  }
  .xtractr-telefono {
      width: 100%;
      background-color: #9455a280;
      margin: 10px;
      padding: 10px;
      align-items: center;
  }
  .xtractr-enviar {
      float: right;
  }
  /* el sidebar ira debajo del content */
  .sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
      padding: 0px;


 
    }
    .content {
      float: left;
      background-color: #5e9dd480;
      width: 100%;
      border-radius: 10px;
      margin: 0px;
      padding: 0px;


  
    }
}