/* Reset float para asegurar que no afecte a otros elementos */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Estilos para la barra lateral */
.sidebar {
  float: right;
  background-color: #5e9cd480;
  width: 30%;
  border-right: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

/* Estilos para el contenido */
.content {
  float: left;
  background-color: #5e9dd480;
  width: 70%;
  margin: 10px;
  padding: 10px;
}

/* Estilos para el contenedor principal */
.main-content {
  display: flex; /* Utiliza flex en lugar de inline-flex */
  margin: 10px;
  padding: 10px;
}
.xtractr-telefono{

  width: 100%;
  background-color: #9455a280;
  margin: 10px;
  padding: 10px;
}
/* Estilos para el logo */
.logo img {
  width: 3em;
  height: 3em;
}

/* Estilos para la navegación */
.navigation {
  float: right;
  border-radius: 20px;
  margin: 1em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

/* Estilos para los enlaces de navegación */
.navigation a {
  padding: 10px;
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #0275d880;
  border-radius: 10%;
}

/* Estilos para los elementos del menú */
.menu-item {
  display: inline-block; /* Para mostrar los elementos del menú en línea */
  border-bottom: none; /* Removido ya que no es necesario en menú horizontal */
}

/* Estilos para el encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #9455a280;
  margin: 0px 10px;
  padding: 10px;
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #9455a280;
  padding: 10px;
}

/* Estilos para la marca del sitio */
.site-branding-xtractr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em; /* Ajuste para que no se extienda más allá del contenido */
  margin: 1em; /* Eliminado el exceso de margen superior e inferior */
}
/* Estilos para la imagen de la marca del sitio */
.site-branding-xtractr img {
  width: 6em;
  height: 6em;
  border-radius: 10%;
  padding: 1em;
  margin: 1em;
  background-color: #ffffff6e;
}
.primary-menu {
  /*centramos el contenido a lo alto y lo colocamos a la derecha */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  margin: 10px;
  height: 8em;
}
/* la lista <li> que hay dentro de primary-menu se muestran los unos al lado de los otros */
.primary-menu li {

  display: inline-block;
  justify-content: flex-end;
  align-items: center;
  /* le damos un margen */
  margin: 0 10px;
}
.user-message{
  /* le damos estilo de whatsapp como si fuera el mensaje enviado por el mi */
  background-color: #dcf8c6;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  min-width: 50%;
  max-width: 70%;
  float: left;

}
.bot-message{
  /* le damos estilo de whatsapp como si fuera el mensaje enviado por el bot */
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  max-width: 70%;
  float: right;
}
